{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'decorator/_card.html.twig' %}
        {% block header %}Liste des articles{% endblock %}
        
        {% block body %}
            <a class="btn btn-success float-right" href="{{ path('app_admin_article_new') }}" role="button">Ajouter</a>
        {% endblock %}
        
        {% block table %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Titre</th>
                        <th>Date ajout</th>
                        <th>Date modif.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.title }}</td>
                            <td>{{ entity.dateCreate|date('d/m/Y H:i') }}</td>
                            <td>{{ entity.dateUpdate|date('d/m/y H:i') }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}

